 .athletes {
    display: flex;
    flex-wrap: wrap;
 }

 .athlete {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    max-height: 600px;
    margin: auto;
    text-align: center;

    .athlete-name {
        width: 700px;
    }

    .athlete-name:hover {
        opacity: .6;
        cursor: pointer;
    }

    .athlete-picture {
        max-width: 400px;
        min-height: 315px;
    }
 }
